<% @users.each do |user| %>
  <p>
    <%= link_to user.title, user.url %>
    <%= link_to '削除', "/users/#{user.id}", data: {turbo_method: :delete} %>
  </p>
<% end %>

<p><%= link_to '新規追加', '/users/new' %></p>
