<% @users.each do |user| %>
  uid: <%= user.uid %>,password_digest:<%= user.password_digest %>
  <p>
  <%= link_to '削除', "/users/#{user.id}", data: {turbo_method: :delete} %>
  </p>
<% end %>

<p><%= link_to '新規追加', '/users/new' %></p>

